/* this is a comment made using "command /" */

body {
    background-color: rgb(140, 140, 140);
    transition: background-color 0.5s ease;

}

#background-text{
    background-color: #76fdcc;
    width: 15vw;
    font-size: 20px;
    letter-spacing: -1px;

}

#firstbox {
    position: absolute;
    color: rgba(0, 255, 247, 0.068);
    text-shadow: 30px -3px 10px rgb(255, 255, 255);
    width: 1fr;
    height: 10px;
    left: 100px;
    right: 100px;
    top: 200px;
    font-size: 200px;
    font-family: Helvetica;
    text-align: justify;
    z-index: 0;
    pointer-events: none;
}

#playme {
    position: fixed;
    top: 1vh;
    right: 1vw;
    color: white;
    border: dotted 2px aquamarine;
    padding: 10px;
    text-align: right;
    box-shadow: 0 0 20px white;
}

.numbers {
    position: fixed;
    width: fit-content;
    line-height: 80%;
    font-family: 'Franklin Gothic Medium';
    opacity: 1;
    z-index: 100;
}

#three{
    font-size: 10em;
    top: 40vh;
    left: 30vw;
    color: rgb(255, 255, 255);
    text-shadow: 1px -3px 10px aquamarine;

}

#one {
    font-size: 15em; 
    top: 15vh;
    left: 70vw;
    color: aquamarine;
    text-shadow: 10px -3px 10px rgb(255, 255, 255);

}

#five {
    font-size: 5em;
    top: 80vh;
    left: 70vw;
    color: rgb(255, 255, 255);
    text-shadow: 1px -3px 10px rgb(17, 0, 255);
}


.puzzle {
    position: fixed;
    width: 100pt;
    height: 100pt;
    transition: height 0.2s ease-out;


}

.puzzle:hover{
    height: 20vh;


}


#p1 {
    box-shadow: 0 0 20px aquamarine;
    background-image: linear-gradient(rgb(255, 255, 255), aquamarine, white);
    z-index: 1000;
}

#p2 {
    top: 30vh;
    left: 100pt;
    box-shadow: 0 0 20px rgb(255, 255, 255);
    background-image: linear-gradient(rgb(255, 255, 255), rgb(43, 0, 255), white);
    z-index: 1000;
}

#p3 {
    top: 70vh;
    left: 600pt;
    box-shadow: 0 0 20px rgb(255, 255, 255);
    background-image: linear-gradient(rgb(140, 140, 140), rgb(255, 255, 255), rgb(140, 140, 140));
    z-index: 1000;
}

#p4 {
    top: 40vh;
    left: 200pt;
    box-shadow: 0 0 20px rgb(255, 255, 255);
    background-image: radial-gradient(circle at center, rgb(200, 180, 255),  rgb(240, 234, 255), rgb(141, 141, 141));
    z-index: 1000;
}

#p5 {
    top: 40vh;
    left: 600pt;
    box-shadow: 0 0 20px rgb(255, 255, 255);
    background: radial-gradient(circle at center, #ffffff, #76fdcc, #8c8c8c);
    z-index: 1000;
}


#p6 {
    top: 80vh;
    left: 500pt;
    box-shadow: 0 0 20px rgb(255, 255, 255);
    background: linear-gradient(120deg, #eaffff, #32ffff, #ffffff);
    z-index: 1000;
}
#p7 {
    top: 30vh;
    left: 800pt;
    box-shadow: 0 0 20px rgb(255, 255, 255);
    background: linear-gradient(20deg, #ffffff, #f56fff, #ffffff);
    z-index: 1000;
}

#p8 {
    top: 10vh;
    left: 90vw;
    box-shadow: 0 0 20px rgb(255, 255, 255);
    background: linear-gradient(210deg, #eaffff, #32ff98, #ffffff);
    z-index: 1000;
}

#p9 {
    top: 60vh;
    left: 70vw;
    box-shadow: 0 0 20px rgb(255, 255, 255);
    background: linear-gradient(120deg, #eaffff, #f3ff84, #ffffff);
    z-index: 1000;
}

#p10

{
    top: 20vh;
    left: 70vw;
    box-shadow: 0 0 20px rgb(255, 255, 255);
    background: linear-gradient(120deg, #eaffff, #000000, #ffffff);
    z-index: 1000;
}
#press{
    position: fixed;
    bottom: 5vh;
    left: 5vw;
    z-index: 10000000;
}

#video-1{
     z-index: 10000000;

}



#fruit {
    position: fixed;
    top: 6vh;
    z-index: 11;
    right: 3wv;
    height: 18vh;
    transition: height 0.3s ease-in;
}

#fruit:hover {
    height: 60vh;
}


.image-appear{
    position: absolute;
    width: 20vw;
    bottom: -10vh;
    left: 20vw;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

#gh {
    bottom: 15vh;
}

#wix {
    bottom: -25vh;
    left: 30vw;
}

.hover-text {
        position: absolute;
        left: 20vw;
        width: fit-content;

        background-color: #76fdcc;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        
}

#chicago {
    z-index: 10;
}

#name {
    bottom: 10vh;
}

#kz {
    bottom: -20vh;
}

#chicago {
    bottom: -50vh;
}

#web-art {
    bottom: -70vh;
    width: 30vw;
}

#inspo {
    bottom: -80vh;
}

#imade {
    bottom: -95vh;
    width: 10vw;
}

#birds {
    width: 20vw;
    bottom: -105vh;
}

#vulture {
    bottom: -110vh;
}

#raven {
    bottom: -115vh;
}

#plover {
    bottom: -120vh;
}

#pronouns {
    position: absolute;
    width: 10vw;
    bottom: -20vh;
    left: 10vw;
    opacity: 0;
    background-color: #76fdcc;

}

.hover-text:hover .image-appear {
    opacity: 1;
}

.hover-text:hover #pronouns {
    opacity: 1;
}

#link {
    text-decoration: none;

}

#link:visited {
    color: #3700ff;
    text-decoration: none;
}

#link:active {
    color: #b976fd;
    text-decoration: none;

}

#link:hover{
    color: #76fdcc;
    text-decoration: none;

}
